{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "importOrder": [
    "^(config|consts|guards|modules|pipes|services|graphql$|scripts|types|utils|validation)",
    "^\\./\\w",
    "^\\.\\./\\w",
    "^(\\.\\./){2}\\w",
    "^(\\.\\./){3}\\w",
    "^(\\.\\./){4}\\w",
    "^(\\.\\./){5,}\\w",
    "^[./]"
  ],
  "importOrderParserPlugins": ["[\"decorators-legacy\", { \"decoratorsBeforeExport\": true }]", "typescript"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": false,
  "importOrderCaseInsensitive": true
}
